@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

section {
    width: 100%;
}

.purple {
    background-color: #F7ECFF;
}

.container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 75px;
}

.main img {
    width: 78%;
    max-width: 300px;
    border-radius: 50%;
    margin-top: 100px;
}

.main .name {
    font-weight: 500;
    font-size: 48px;
    margin: 72px 0 0 0;
}

.main .jobtitle {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
}

.main .icons {
    font-size: 28px;
    margin: 22px 0 7px 0;
}

.main .icons i {
    margin: 0 10px;
    color: black;
    text-decoration: none;
}

.main .icons i:hover {
    color: #808080;
}

.email, .phone {
    margin: 0;
}

.aboutArrow {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.aboutArrow p {
    font-size: 14px;
    color: rgba(0, 0, 0, .35);
    margin: 0;
}

.aboutArrow:hover p {
    color: rgba(0, 0, 0, .65);
}

.aboutArrow div {
    transform: rotate(45deg);
    border-bottom: 1px solid rgba(0, 0, 0, .35);
    border-right: 1px solid rgba(0, 0, 0, .35);
    width: 10px;
    height: 10px;
}

.aboutArrow:hover div {
    border-bottom: 1px solid rgba(0, 0, 0, .65);
    border-right: 1px solid rgba(0, 0, 0, .65);
}

@media (max-width: 900px){
    .main img {
        margin-top: 53px;
    }

    .main .name {
        font-size: 28px;
        margin-top: 35px;
    }

    .main .jobtitle {
        font-size: 18px;
    }

    /* .main .icons {
        font-size: 28px;
    } */

    /* .main .icons i {
        margin: 0 10px;
    } */
}