@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

section {
    width: 100%;
    padding: 75px 0;
}

@media (max-width: 900px){
    section {
        padding: 40px 0;
    }
}

/* Begin Main */
.main {
    background-color: #F7ECFF;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1030px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-bottom: 75px;
}

.main img {
    width: 78%;
    max-width: 300px;
    border-radius: 50%;
    margin: 100px 0 70px 0;
}

.name {
    font-weight: 500;
    font-size: 48px;
    margin: 0;
}

.jobTitle {
    margin: 0;
    font-weight: 300;
    font-size: 24px;
}

.icons {
    font-size: 28px;
    margin: 15px 0 10px 0;
}

.icons i {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

.icons i:hover {
    color: #808080;
}

.email, .phone {
    margin: 0;
}

.aboutArrow {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.aboutArrow p {
    font-size: 14px;
    color: rgba(0, 0, 0, .35);
    margin: 0;
}

.aboutArrow:hover p {
    color: rgba(0, 0, 0, .65);
}

.aboutArrow div {
    transform: rotate(45deg);
    border-bottom: 1px solid rgba(0, 0, 0, .35);
    border-right: 1px solid rgba(0, 0, 0, .35);
    width: 10px;
    height: 10px;
}

.aboutArrow:hover div {
    border-bottom: 1px solid rgba(0, 0, 0, .65);
    border-right: 1px solid rgba(0, 0, 0, .65);
}

@media (max-width: 900px){
    .main img {
        margin-top: 53px;
    }

    .main .name {
        font-size: 28px;
    }

    .main .jobTitle {
        font-size: 18px;
    }

    .container {
        max-width: 600px;
    }
}

/* End Main */

/* Begin About */
.sectionTitle {
    font-size: 36px;
    color: #8333BD;
    font-weight: 300;
    margin: 0 0 30px 0;
    text-align: center;
}

.aboutIntro {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.aboutText {
    text-align: center;
    margin: 0;
}

@media (max-width: 900px){
    .sectionTitle {
        margin-bottom: 15px;
        font-size: 28px;
    }

    .aboutIntro {
        font-size: 20px;
    }
    
    .aboutText {
        font-size: 16px;
    }
}

/* End About */

/* Begin Skills */

.gray {
    background-color: #F5F5F5;
    border-top: 1px solid rgba(0, 0, 0, .25);
}

.skillsContainer {
    margin: auto;
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skillsContainer div {
    padding: 10px 20px;
    background-color: #F7ECFF;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    margin: 10px;
}

@media (max-width: 900px){
    .skillsContainer div {
        padding: 10px 15px;
        font-size: 16px;
    }
}

/* End Skills */

/* Begin Projects */

.project {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 1px solid rgb(0, 0, 0, .15);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 40px;
    width: 100%;
}

.project:last-of-type {
    margin-bottom: 0;
}

.project .image {
    flex-basis: 330px;
    flex-shrink: 0;
    min-height: 330px;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projectTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0 20px;
    position: relative;
    flex-grow: 1;
    padding-bottom: 30px;
}

.projectTextContainer h3 {
    margin: 13px 0 7px 0;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.projectTextContainer p {
    font-size: 16px;
    margin: 7px 0;
}

.projectTextContainer p strong {
    font-weight: 400;
}

.projectTextContainer a {
    margin: 0 3px;
}

.projectLinks {
    position: absolute;
    left: 0;
    bottom: 10px;
}

.projectLinks span {
    font-size: 14px;
}

@media (max-width: 900px){
    .project {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .project .image {
        padding-bottom: 70%;
    }

    .projectTextContainer {
        margin: 0 7px;
    }

    .projectTextContainer p {
        font-size: 14px;
    }

    .projectLinks {
        font-size: 16px;
    }

    .projectLinks span {
        font-size: 12px;
    }

    .projectTextContainer a {
        margin: 0 1px;
    }
}
/* End Projects */

/* Begin Experience */

.job {
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 40px;
}

.job:last-of-type {
    margin-bottom: 0;
}

.jobHeader {
    background-color: #F7ECFF;
    border-bottom: 1px solid rgba(0, 0, 0, .25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    font-size: 24px;
}

.jobHeader div {
    text-align: center;
}

.jobHeader div:first-of-type {
    text-align: left;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: 33%;
}

.jobHeader div:last-of-type {
    text-align: right;
    flex-grow: 1;
    flex-basis: 33%;
}

.jobHeader div:last-of-type {
    font-size: 18px;
}

.jobText {
    padding: 15px;
    margin: 0;
}

@media (max-width: 900px){
    .job {
        margin-bottom: 20px;
    }

    .jobHeader {
        flex-direction: column;
        font-size: 18px;
    }

    .jobHeader div:last-of-type {
        font-size: 14px;
    }
}

/* End Experience */

/* Begin Contact */

.contact {
    background-color: #F7ECFF;
    border-top: 1px solid rgba(0, 0, 0, .25);
}

/* End Contanct */

/* Begin Copyright */

.copyright {
    padding: 45px 0;
}

.copyright p {
    text-align: center;
    margin: 0;
}

@media (max-width: 900px){
    .copyright {
        padding: 30px 0;
    }
}

/* End Copyright */